<!--TODA LA VISTA ESTA EN ESTE COMPONENTE PARA QUE SE PUEDA COMUNICAR-->
<header>
  <div class="nav-1">
    <div class="logo-container">
      <a routerLink="/inicio">
        <img src="../assets/img/logo.png">
      </a>
    </div>
    <div class="search">
      <input [(ngModel)] = "busqueda" type="text" class="s-bar" placeholder="Buscar productos, marcas y más...">
      <button><i class="fas fa-search"></i></button>
    </div>
    <p class="a-express">
      <i class="fas fa-shipping-fast"></i>
      ¡Envío Express <b>en menos de 2 horas!</b>
    </p>
  </div>

  <div class="nav-2">
    <a href="#" class="categories">Categorías <i class="fas fa-chevron-down"></i></a>
    <ul class="nav__ul-1">
      <a href="#">
        <li>Historial</li>
      </a>
      <a href="#">
        <li>Tiendas oficiales</li>
      </a>
      <a href="#">
        <li>Ofertas de la semana</li>
      </a>
      <a href="#">
        <li>Vender</li>
      </a>
      <a href="#">
        <li>Ayuda</li>
      </a>
    </ul>

    <ul class="nav__ul-2">
      <a href="#">
        <li>
          <i class="far fa-user-circle"></i>
          Roger
          <i class="fas fa-chevron-down"></i>
        </li>
      </a>
      <a href="#">
        <li>Mis compras</li>
      </a>
      <a href="#">
        <li>Favoritos <i class="fas fa-chevron-down"></i></li>
      </a>
      <a href="#">
        <li><i class="far fa-bell"></i></li>
      </a>
    </ul>
  </div>
</header>

<app-carousel></app-carousel>

<div class="section-container">
  <div class="card-container">
    <h1 *ngIf="busqueda != ''" [innerText]="busqueda"></h1>
      <div class="section-title">¡LAS MEJORES OFERTAS EN NUESTRAS TIENDAS OFICIALES! <a href="#">Ver más</a></div>
      <div *ngFor="let p of productos">
        <a class="card-link" routerLink="/producto/{{p.id}}">
          <mat-card class="product-card">
            <img mat-card-image [src]="p.imagenUrl">
            <mat-card-title>U$S {{p.precio}}</mat-card-title>
            <mat-card-subtitle *ngIf="p.tipoEnvio == 'Envio gratis'">{{p.tipoEnvio}}</mat-card-subtitle>
            <mat-card-content>
              <p>{{p.nombre}}</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      
  </div>
</div>
